USE_LXC_BRIDGE="{{ lxc_net.USE_LXC_BRIDGE }}"
LXC_BRIDGE="{{ lxc_net.LXC_BRIDGE }}"
LXC_ADDR="{{ lxc_net.LXC_ADDR }}"
LXC_NETMASK="{{ lxc_net.LXC_NETMASK }}"
LXC_NETWORK="{{ lxc_net.LXC_NETWORK }}"
LXC_DHCP_RANGE="{{ lxc_net.LXC_DHCP_FIRST_ADDR }},{{ lxc_net.LXC_DHCP_LAST_ADDR }}"
LXC_DHCP_MAX="{{ lxc_net.LXC_DHCP_MAX }}"
LXC_DHCP_CONFILE="{{ lxc_net.LXC_DHCP_CONFILE }}"
LXC_DOMAIN="{{ lxc_net.LXC_DOMAIN }}"
